@charset "utf-8";
@font-face {
    font-family: 'open_sansregular';
    src: url('font/opensans-regular.eot');
    src: url('font/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-regular.woff2') format('woff2'),
         url('font/opensans-regular.woff') format('woff'),
         url('font/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
nav {
	margin: -15px;
	padding: 0px;
	width: 102%;
	border: 1px solid lightgrey;
	padding: 0px;
	margin-bottom: 20px;
	background: #a7c7dc; /* Old browsers */
	background: -moz-linear-gradient(top,  #a7c7dc 0%, #85b2d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#85b2d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a7c7dc 0%,#85b2d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */
}
.ButNav {
	display: inline-block;
	width: 120px;
	cursor: cell;
	text-shadow: 1px 1px 3px #fff;
	margin: -1px;
}
.ButNav:hover a {
	color: white;
	text-shadow: 1px 1px 3px #000;
}
.ButNav, .SubMenu {
	height: 30px;
	padding: 5px 7px;
	border: 1px solid grey;
	list-style: none;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.ButNav:hover {
	border: 1px solid orange;
	background: rgb(241,231,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,231,103,1)), color-stop(100%,rgba(254,182,69,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
}
.SubMenu {
	width: 150px;
	margin: 1px 0px;
}
.SubMenu:hover {
	background: #e4efc0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e4efc0 0%, #abbd73 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4efc0), color-stop(100%,#abbd73)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e4efc0 0%,#abbd73 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
	border: 1px solid lightgrey;
}
.SubMenu:hover a {
	cursor: pointer;
	color:green;
	text-shadow: 1px 1px 3px #fff;
}
nav a {
	text-decoration: none;
	cursor: cell;
	color:royalblue;
}
nav ul li ul {
	display: none;
	float:right; 
	position: relative;
	top:-10px;
	padding-top: 17px;
	left:40px;
}
nav ul li img {
	height: 30px;
	vertical-align: middle;
	margin-right: 3px;
}
.ButHome {
	display: inline-block;
}
.ButHome img {
	vertical-align: middle;
	margin: 0px 5px;
}
nav ul li:hover ul {
	display: inline-block;
}
.Disconnect {
	float:right; 
	cursor:pointer; 
	color:#000;
	margin: 5px 10px;
}
body {
    font-family: 'open_sansregular';
    font-size: 10pt;
    padding: 5px;
}
legend {
	color:royalblue;
	font-size: 9pt;
}
table {
	font-size: 10pt;
}
input {
	width: 200px;
	padding: 5px;
}
.Button1 {
	width: 120px;
	height: 40px;
	line-height: 40px;
	border: 1px solid grey;
	display:inline-block;
	margin: 1px;
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.Button1:hover {
	cursor: pointer;
	border: 1px solid royalblue;
	background: #e0f3fa; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(50%,#d8f0fc), color-stop(51%,#b8e2f6), color-stop(100%,#b6dffd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
}
.Button1 img {
	height: 30px; 
}
.panel {
	width: 700px;
	background: #eee;
	margin : auto;
	-moz-box-shadow: 5px 5px 5px 0px #656565;
	-webkit-box-shadow: 5px 5px 5px 0px #656565;
	-o-box-shadow: 5px 5px 5px 0px #656565;
	box-shadow: 5px 5px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.panel-heading{
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	background: #d4e4ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #d4e4ef 0%, #86aecc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4e4ef), color-stop(100%,#86aecc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d4e4ef 0%,#86aecc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d4e4ef 0%,#86aecc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d4e4ef 0%,#86aecc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d4e4ef 0%,#86aecc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-transform: uppercase;
	font-size: 13pt;
}
.panel-body {
	padding: 20px;
}
fieldset {
	border: 1px solid lightgrey;
}
label {
	font-size: 8pt;
}
.form-control {
	font-size: 11pt;
	color: #8ea4c8;
	width: 95%;
	text-transform: capitalize;
}
.form-control:focus {
	border: 1px solid orange;
	color: black;
	-moz-box-shadow: 0px 0px 5px 1px #ffc702;
	-webkit-box-shadow: 0px 0px 5px 1px #ffc702;
	-o-box-shadow: 0px 0px 5px 1px #ffc702;
	box-shadow: 0px 0px 5px 1px #ffc702;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffc702, Direction=NaN, Strength=5);
}
.lowCase { text-transform: lowercase; }